@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.eot');
}

:root {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}

 *,*::before , *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}



html {
    /* 1rem == 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100%;
    overflow-x: hidden;
}

body{
    background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
    font-family: "Poppins";
    height: 100%;
    overflow-x: hidden;
   
}

::-webkit-scrollbar {
    width: .5em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(17, 101, 191, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(80, 144, 234);
   
}
 

 

 
    .navbar{
        
    margin: 0.5rem 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px rgba(33, 123, 244,0.1);
   /* position: sticky;
    z-index: 1000;*/
    
    box-sizing: border-box;
}

.navbar__logo-container{
    margin-left: 2rem;
    display: flex;
    align-items:center;
}

.navbar__list{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}

.navbar__element-actionButtons {
    display: flex;
    flex-direction: row;
    width: 25rem;
    align-items: center;
    gap:2rem;
}


.navbar__element,.navbar__logo-container{
    cursor: pointer;
    font-size: 2em;
    margin: 2rem 5rem 2rem 6rem ;
     font-family: 'Inter';
    list-style: none;
       
}

.hamburger-menu
{
    display: none;
    order: 3;
}


.navbar-button__dropdownMenu img{
    margin-left: 1rem;
}

.navbar-button{

    background: #217BF4;
        box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
        border-radius: 14px;
        width: 12rem;
        height: 4rem;
        cursor: pointer;
        border: none;
        color: #FFFFFF;
        transition: all .5s ease-in;
     
}

.navbar-button:hover {
    background: #0b56b9;
    box-shadow: 1px 9px 24px -4px #0a79c4;
}


.navbar__element-searchIcon__container{
    border: none;
background-color: #FFFFFF;
width: 4rem;
border-radius: 5px ;
border-bottom: solid 1px #E5E5E5;
cursor: pointer;
height: 4rem;
}

.navbar__element-searchIcon{
width: 100%;

}



.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
}

.hero img{
    position: relative;
    margin-bottom: 10rem;
    margin-right: 10rem;
}

.hero__description{
    position: relative;
    top: -10rem;
    margin-left: 2rem;
}

.community{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
background: rgba(33, 123, 244,0.1);
border-radius: 8px;
height: 3rem;
width: 18rem;
font-family: 'Inter';
    font-weight: 500;
    line-height: 12px;
    font-size: 2vh;
    text-align: center;

    color: #217BF4;

    margin: 1rem;
   
    transition: all .6s ease-in-out;
}


.community-title{
    font-family: 'Inter';
        font-weight: 700;
        font-size: 8vh;
        color: #0A093D;
       
        margin: 1rem 0  3rem 0;
}

.community-text{
    font-family: 'Inter';
        font-weight: 400;
        font-size: 2.5vh;
        color: #656464;

        margin: 3rem 0 3rem 1rem;
        width: 70%;
        
}

.button-more{
background: #217BF4;
    box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
    border-radius: 14px;
    text-align: center;
    font-weight: 500;
    font-family: 'Inter';
        color: #FFFFFF;
        width: 12rem;
        height: 5rem;
        margin: 1rem;
        cursor: pointer;
        border: 0;
        transition: all .6s ease-in;
}

.button-more:hover {
  
            background: #0b56b9;
            box-shadow: 1px 9px 24px -4px #0a79c4;
     
}
.button-invite{

    text-align: center;
        color: #217BF4;
        font-family: 'Inter';
        font-weight: 500;
        border-radius: 14px;
        width: 12rem;
            height: 5rem;
            margin: 1rem;
            cursor: pointer;
           

                border: 1px solid rgba(33, 123, 244,0.5);
                border-radius: 14px;
                transition: all .6s ease-in;
}

.button-invite:hover {
border: 2px solid rgba(26, 97, 189, 0.5);
color: #0e53ad;
box-shadow: 1px 9px 24px -4px #0791ee;
}

.close_button{
    display: none;
}


@media screen and (max-width:1400px) {




.navbar__list{
    position: fixed;
flex-direction: column;
    order: 2;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 10;
    background-color: #f8f9fa;
    width: 50%;
    font-size: 2vh;
    padding-top: 8rem;
    box-shadow: 0 0.125rem 0.25rem rgba(33, 37, 41, .7);
    transform: translateX(800px);

  
}

.navbar__list.active {
    
    transition: all 1.5s ease-in;
    transform: translateX(0);
}


.navbar__element{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    height: 4rem;
    cursor: pointer;
   
}

.navbar__element:nth-child(2)::before{
content: "";
    position: absolute;
    height: 1px;
    top: -2rem;
    width: 100%;
    background-color: rgb(33, 123, 244);
    right: 0;
}

.navbar__element::after {
content: "";
    position: absolute;
    height: 1px;
    bottom: -2rem;
    width: 100%;
    background-color:rgb(33, 123, 244);
    right: 0;
    
}


.close_button.active 
{
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 5vh;
    z-index: 2;
    margin-right: 3rem;
    margin-top: 2rem;
    cursor: pointer;
    
}



    .hero{
        flex-direction: column;
        margin-top: 20rem;
  
    }

    .hero__description{
        margin-left: 2rem;
    }


    .community{
        width: 25rem;
        height: 5rem;
        line-height: 1.5rem;
        font-size: 1.5vh;
    }


                 .community-title {
                    font-size: 5vh;
                 }
                 
                 .hamburger-menu{
                    display: block;
                        padding-right: 5rem;
                       font-size: 3vh;
                       cursor: pointer;
                 }

                 .ri-menu-line{
                    font-size: 2vh;
                 }
                               
                 
                 .navbar-button {
                    margin-right: 0rem;
                 }

                 .navbar__element-actionButtons{
                    position: relative;
                    right: -90px;
                 }

                 

                 .community{
                    margin-bottom: 2rem;
                    width: 16rem;
                    height: 6rem;
                 }
}



@media screen and (max-width:700px) {

.navbar-button{
    display: none;
}

.hero__image > img{
    width: 30rem;
}

.searchbar__container{
    display: none;
}



.community-title{
    font-size: 3vh;
}

.community-text{
    font-size: 1.5vh;
}
.navbar__list {
    width: 75%;
}
}


@media screen and (max-width : 450px) {
    .hero__description{
        margin-left: -1.9rem;
    }

        .navbar__element {
            
            margin: 2rem 4.8rem;
            
        }

                .community-title {
                  
                    font-size: 4vh;
                    
                }

               .community {
                              
                    height: 5rem;
                 }

               .hamburger-menu {
                    display: block;
                    padding-right: 2.5rem;
                             }
               .navbar__list{
                width: 100%;
               }
                
}
